/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common CSS*/

body {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #cad3d3;
}

.center-absolute {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

/* Specific CSS*/

#container {
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.tour-container {
    min-height: 1088px;
    display: flex;
}

.tour-wrapper {
    margin: auto;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    transition: all 0.5s ease-out;
}

.next-button, .previous-button {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    z-index: 1;
}

.next-button {
    right: 30%;
}

.previous-button {
    left: 30%;
}

.list-dots {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: space-around;
    width: 80px;
    left: 49%;
}

.list-dots li {
    font-size: 35px;
    cursor: pointer;
}

.tour-container-item {
    flex: 1 0 100%;
    width: 100%;
}

.tour {
    margin: auto;
    position: relative;
    width: 362px;
}

.tour-image {
    max-width: 362px;
    position: relative;
}

.tour-image h1 {
    font-family: "Montserrat";
    font-weight: 300;
    color: #FFF;
}

.tour-image img {
    width: 100%;
    opacity: 0.7;
    vertical-align: middle;
    filter: brightness(40%);
    border: none;
}

.tour-info {
    background-color: #FFF;
    color: #5f727f;
    max-width: 362px;
}

.tour-info-title {
    padding-top: 16px;
    padding-bottom: 16px;
    opacity: 0.8;
}

.tour-info-title h2 {
    font-weight: 400;
    font-size: 24px;
    padding: 4px;
}

.tour-info-title h3 {
    color: #99a9b5;
    font-size: 14px;
    padding: 4px;
}

.tour-info p {
    padding: 16px;
    font-weight: 400;
}

.tour-info p:nth-child(even) {
    background-color: #f4f6f7;
}

.tour-info input {
    padding: 15px 30px;
    margin: 52px;
    text-transform: uppercase;
    color: #2196f7;
    background-color: #fff;
    border: 1px solid #2196f7;
    cursor: pointer;
}

.tour-info input:hover {
    background-color: #6c136f;
    color: #FFF;
    border: 1px solid #6c136f;
}

.tour-price {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #FFF;
    top: -60px;
    left: 50%;
    transform: translate(-50%, 0);
}

.tour-price-text h1 {
    color: #2196f7;
    font-size: 32px;
    font-weight: 300;
}

.tour-price-text h2 {
    color: #99a9b5;
    font-size: 16px;
    font-weight: 400;
}

.tour-new {
    position: absolute;
    top: -15px;
    left: -15px;
}

.tour-new h1{
    font-family: Montserrat;
    font-size: 12px;
    color: #FFF;
}

.current-slide {
    color: #5f727f!important;
}